body {
    color: #285a84;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:large ;
}

header {
    display: flex;
    flex-direction: row;
    height: 10vh;

    }

#logo {
    height: 70px;
    width: auto;
}

.menu {
    display: flex ;
    justify-content:flex-end ;
    background-color: aquamarine;
    align-items: center;
}

.box {
    width: 120px  ;
    text-align: center;
    background-color: blue;
    
}

jumbotron {
    padding-top: 60px;
}

section {
    padding-top: 60px;
}

footer {
    padding-top: 60px;
}